<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<div class="media">
  <img src="./assets/img/Estudihambre.png" class="img-logo" alt="...">
  <div class="media-body">
    <h3 class="mt-0">Estudihambre</h3>
      Proyecto diseñado y contruido de la mano de Estudihambre , una compañia
      orgullosamente perteeciente a la ARCA (Alianza Rebelde del Codigo Abierto)
      por el fundador de dicha empresa Bryan Fernando Rangel Aguirre. Quien busca
      difundir el conocimientoe ideas innovadoras libremente a travez de aplicaciones,
      paginas web, videos ilustrativos, para de esta manera entre la comunidad desarrollar
      un proyecto totalmente funcional para los usuarios.

    <div class="media mt-3">
      <a class="mr-3" href="#">
        <img src="./assets/img/angular.png" class="img-logo" alt="...">
      </a>
      <div class="media-body">
        <h3 class="mt-0">Angular JS</h3>
        Framework desarrollado por Google.Proyecto de código abierto, realizado en
        Javascript que contiene un conjunto de librerías útiles para el desarrollo
        de aplicaciones web y propone una serie de patrones de diseño para llevarlas
        a cabo. En pocas palabras, es lo que se conoce como un framework para el desarrollo,
        en esta caso sobre el lenguaje Javascript con programación del lado del cliente.


      </div>
    </div>
  </div>
</div>
